/* Importing the Lato Google Font (Regular and Bold) */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* Basic Style */
body {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: rgb(204,204,159);
}

.container {
    width: 80%;
    margin: auto;
    /* The overflow property determines what to do if content overflows an element's box. Setting overflow to hidden will hide/clip the overflowing content */
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

.btn-1 {
    height: 38px;
    background-color: #0b580e;
    border: 0;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* Shorthand - top, right, bottom, left (aka clockwise) */
    /* padding: 0 20px 0 20px; */
    /* top/bottom, left/right */
    padding: 0 20px;
    color: #fff;
}

.light, .dark {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.light {
    background-color: #e6e6e6;
    color: #2d2b3e;
}

.dark {
    background-color: #2d2b3e;
    color: #e6e6e6;
}

/* Header */

#gnomon-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

header {
    background-color: rgb(204,204,159);
    color: #0f9013;
    /* Setting min-height so the height for the header section can expand if needed */
    min-height: 70px;
    border-bottom: 3px solid  #0b580e;
    padding: 5px 0;
}

header > .container {
    display: flex;
    justify-content: space-between;
}

header ul {
    height: 100%;
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
    padding: 0 20px;
}

header a {
    color:  #0b580e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#branding {
    color:#081108;
    text-align: center;
    font-weight: 700;
    font-weight: bold;
}

/* #navbar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

#highlight, #current a {
    color:#081108;
    font-weight: 700;
    font-weight: bold;
}

#current a:hover, a:hover {
    color:  #0b580e;
    font-weight: 700;
}

/* Showcase */
#showcase {
    min-height: 100px;
    /* background-image: url("GnomonImages/river-5524569_640.jpeg"); */
    background-position: center;
    background-size: cover;
    /* border-bottom: 3px solid#0b580e; */
    text-align: center;
    color:#0b580e;
}

#showcase h1 {
    margin-top: 20px;
    /* margin-bottom: 10px; */
    font-size: 40px;
    font-style: bold;
}

#showcase p {
    font-size: 15px;
}

/* Newsletter */
/* #newsletter {
    background-color: #2d2b3e;
    padding: 15px;
    color: #e6e6e6;
}

#newsletter > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newsletter input {
    padding: 4px;
    height: 25px;
    width: 250px;
} */

/* Boxes */
#boxes {
    margin-top: 10px;
}

#boxes > .container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    padding: 10px;
    justify-content: space-around; /* Distribute space around items */
}

.box {
    width: 30%; /* Set box to take 30% of the container's width */
    text-align: center;
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width calculation */
    margin-bottom: 20px; /* Add some space between rows */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .box {
        width: 100%; /* Take full width on smaller screens */
    }
}

/* About */
#about {
    background-color: #0b580e;
    padding: 20px;
}

#about > .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
}

#about .main-col {
    color: #fff;
}

#about .sidebar {
    margin-top: 10px;
}

/* Services */
#services > .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
}

#services li {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}

#services .sidebar {
    margin-top: 10px;
    margin-right: 10px;
}

#services input, #services textarea {
    padding: 5px;
    width: 90%;
}

/* Footer */
footer {
    background-color: #2d2b3e;
    color: #e6e6e6;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    header > .container,
    #newsletter > .container,
    #boxes > .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #showcase .container {
        padding-bottom: 50px;
    }

    .box {
        width: 80%;
    }

    #about > .container,
    #services > .container {
        grid-template-columns: 1fr;
    }
}

